<div *ngIf="apiLoaded | async">
  <google-map
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <!-- Use map-advanced-marker if available, fallback to map-marker -->
    <map-advanced-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
      [options]="marker.options"
    >
    </map-advanced-marker>
  </google-map>
  <div class="flex grow justify-center gap-3 pt-3">
    <button mat-flat-button color="accent" (click)="zoomIn()">Zoom in</button>
    <button mat-flat-button color="accent" (click)="zoomOut()">Zoom out</button>
  </div>
</div>
